config magent
	option mqtt_host '192.168.6.110'
	option mqtt_port '8883'
	option cafile '/etc/eagent/rootCA.crt'
	option certfile '/etc/eagent/cert.pem'
	option keyfile '/etc/eagent/privkey.pem'
	option model 'lds.gateway.g104'
	option hw_ver '1.0'
	option name 'education_gateway'
	option enauth '0'
