config magent
	option mqtt_host '192.168.6.110'
	option mqtt_port '8883'
	option cafile '/etc/magent/rootCA.crt'
	option certfile '/etc/magent/cert.pem'
	option keyfile '/etc/magent/privkey.pem'
	option model 'lds.gateway.g104'
	option hw_ver '1.0'
	option name 'magent_gateway'
	option enauth '0'
